<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Программа_для_военки.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Программа_для_военки.Properties.Settings>
            <setting name="Excel_path" serializeAs="String">
                <value>D:\Load\!!Учеба\Военка\Программа\Новая папка\Лист Microsoft Excel.xlsx</value>
            </setting>
        </Программа_для_военки.Properties.Settings>
    </userSettings>
</configuration>
